@using FooBox.Models;
@if (Request.IsAuthenticated)
{
    
    <ul class="nav navbar-nav navbar-right">
        @using (var userManager = new UserManager())
        {
            if (userManager.FindUser(User.Identity.GetUserId()) != null)
            {
            @: <li>
            @Html.ActionLink("Hello " + userManager.FindUser(User.Identity.GetUserId()).Name + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
            @: </li>
            }
        }

        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right pull-right" }))
    {
        @Html.AntiForgeryToken()

    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
